<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>         
        <form action="/adminusermenu" method="post">
            <button type="submit" name ="userAction" value = "mine">Mine Block</button>                                            
            <button type="submit" name ="userAction" value = "verify">Verify New Members</button>
            <button type="submit" name ="userAction" value = "logOut">Log Out</button>                                            
        </form>
</body>
</html>