<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
       <h1>Available plots:</h1>
       {% for x in range(content|length) %}
            <label for="username">You own Plot no. {{content[x][0]}}, </label>
        {% endfor %}
        <form action="/sellpage" method="post">   
            <button type="submit" name="verify" value="accept">GO Back</button> 
        </form> 
    </body>
</html>