<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <form action="/newusermenu" method="post">   
            <label for="Enter New username">Enter new username: </label>
            <input type="text" id="newuser" name="newuser" placeholder="Enter new username"><br>
            <label for="Enter New password">Enter new password: </label>
            <input type="text" id="newpass" name="newpass" placeholder="Enter new password"><br>
            <label for="Enter temp username">Enter temp username: </label>
            <input type="text" id="tuser" name="tuser" placeholder="Enter temp username"><br>
            <label for="Enter Aadhar">Enter Aadhar no: </label>
            <input type="text" id="aadhar" name="aadhar" placeholder="Enter Aadhar"><br>
            <label for="Enter Name">Enter Name: </label>
            <input type="text" id="name" name="name" placeholder="Enter Name"><br>
            <label for="Enter Address">Enter Address: </label>
            <input type="text" id="addr" name="addr" placeholder="Enter Address"><br>
            <button type="submit" name="verify" value="accept">Submit</button> 
        </form> 
    </body>
</html>