<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
       <h1>Search plot detail:</h1>
        <form action="/searchpage" method="post">   
            <label for="Enter plot number">Plot no:</label>
            <input type="text" id="plotnum" name="plotnum" placeholder="Enter plot num"><br>
            <button type="submit" name="submit" value="search">Search</button> 
            <button type="submit" name="submit" value="back">Back</button> 
        </form> 
    </body>
</html>