<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "/transactions" method ="post">
    {% for x in range(content|length) %}
        transaction {{x}} details: {{content[x]}}<input type="checkbox" name="transactionstatus" value="{{x}}"><br>
    {% endfor %}
    <button type="submit" name="verify" value="submit">Submit</button> 
    <button type="submit" name="verify" value="back">Back</button>
    </form>
</body>
</html>