<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>         
        <form action="/usermenu" method="post">
            <button type="submit" name ="userAction" value = "buy">Buy Property</button>                                            
            <button type="submit" name ="userAction" value = "sell">Sell Property(inside)</button>
            <button type="submit" name ="userAction" value = "sell2">Sell Property(outside)</button>
            <button type="submit" name ="userAction" value = "display">Display plots</button> 
            <button type="submit" name ="userAction" value = "verify">Verify as witness</button>
            <button type="submit" name ="userAction" value = "search">Search Plot</button> 
            <button type="submit" name ="userAction" value = "logout">Log Out</button>                                            
        </form>
</body>
</html>